<a href="https://colab.research.google.com/github/paulfrancis24/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [3]:
class MyClass:
  pass

In [6]:
class OOP1_2:
  x = 5
  print(x)

5

Create Objects

In [14]:
class OOP1_2:
  def __init__(self,name,age):
    self.name = name            #attributes
    self.age = age
  
  def identity(self):
    print(self.name, self.age)
  
person = OOP1_2("Maria", 39)

print(person.identity)

print(person.name)
print(person.age)

<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f040ac12650>>
Maria
39

In [18]:
#Modify the Object Name

person.name = "Rizette"
print(person.name)
print(person.age)

Rizette
39

In [19]:
person.age = 40

print(person.name)
print(person.age)

Rizette
40

In [23]:
#Delete the Object

del person.name

AttributeError: ignored

In [24]:
print(person.name)

AttributeError: ignored

In [25]:
print(person.age)

40

Application 1 - Write a python program that computes the area of a square, and name its class as Square, side as attributes

In [40]:
class Square:
  def __init__(self,sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides


  def display(self):
    print("The area of the square is", self.area())

square = Square(4)

square.display()
print(square.sides)

The area of the square is 16
4

Application 2 - Write a Python program that displays your full name, age, course and school. Create a class named MyClass and name, age, course, school as attributes

In [64]:
class MyClass:
  def __init__(self,name,age,course,school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school
  
  def id(self):
    print(self.name)
    print(self.age)
    print(self.course)
    print(self.school)
myself = MyClass("Paul Francis B. Masangcay", 19, "Computer Engineering", "Cavite State University")

myself.id()

Paul Francis B. Masangcay
19
Computer Engineering
Cavite State University